/*--fonts--*/
$p-font: 'MuseoSans-100', Helvetica, Arial, sans-serif;
$h4-font: 'MuseoSansRounded-700', Helvetica, Arial, sans-serif;
$dk-lemonade: 'DKLemonYellowSun', Helvetica, Arial, sans-serif;

/*--colours--*/
$base-font-size: 14px;
$light-gray:#bfbfbf;
$green:#78b902;
$white:#ffffff;
$red:#b21d3f;
