<!-- <section ng-controller="AgeController" >
 <personal-form></personal-form>
</section> -->
<section ng-controller="RetirementController" >
  <div class="section padding-bottom-40  paddingTop20">
  <div class="container">
    <div class="row boxshadow">
      <div class="col-xs-12 mainarea ">
        <main-menu></main-menu>
            <!--retirement Content-->
            <div class="row paddingTop20">
                <div class="col-xs-12" ng-attr-style="color:{{ appData.branding.mainColor }}">
                  <h5 class="bold text-center paddingTop30 uppercase mainColor">A LITTLE ABOUT YOU</h5>
                </div>
                <!-- <div class="col-xs-12 col-sm-8 col-sm-offset-2" ng-attr-style="color:{{ appData.branding.mainColorDark }}">
                  <div class="text-center paddingTop10 paddingBottom30 font11 tooltip-container">
                    We need this information to display your average life expectance and to calculate your State Pension.
                    <div class="tooltip"><i class="fas fa-info-circle fa-lg"></i>
                      <span class="tooltiptext">
                        How is my life expectancy calculated?
                        <br><br>
                          Your life expectancy is calculated using the Office for National Statistics data <a target="_blank" href="https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/lifeexpectancies/articles/howlongwillmypensionneedtolast/2015-03-27">here</a>.
                        <br><br><br>
                        
                        
                        How is the State Pension calculated?
                        <br><br>
                        If you are a man born on or after 6 April 1951 or a woman born on or after 6 April 1953 then we assume you’ll get the full amount of the new State Pension in force from 6 April 2016 - but the amount you get depends on your National Insurance Contribution record. You may get more or less than this.
                        
                        If you were born before these dates, we assume you are receiving the full basic State Pension that applied up to 5 April 2016.
                        
                        You can find out more about the new State Pension and how to get a State Pension statement <a target="_blank" href="https://www.yourpension.gov.uk/">here</a>.
                    </span>
                    </div>
                  </div>
                </div> -->
            </div><!--div-->
            <div class="row paddingTop30 paddingBottom30">
              <div class="col-xs-12 text-center padding20 fontInverse" ng-show="minAgeMsg">Minimum retirement age is 55.</div>
                <div class="col-xs-6 col-md-4 col-md-offset-2 text-center"><h4>At what age would you like to retire?</h4></div>
                <div class="col-xs-6 text-left"><div class="sliderValue"  ng-attr-style="color:{{ appData.branding.mainColorDark }}">{{ retSlider.value }}</div></div>
            </div><!--row-->
            <div class="row  paddingTop30 paddingBottom30">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                  <rzslider class="custom-slider" rz-slider-model="retSlider.value" rz-slider-options="retSlider.options"></rzslider>
                </div>
            </div><!--row-->
            <!--End: retirement Content-->
      </div>
      <steps></steps>
    </div><!--row-->
  </div>
</div><!--scetion class-->
</section>













<!--
    <br /><br />
    <HR><HR><HR><HR><HR>
    <div class="row">
      <div class="col-xs-12">
        <form name="userForm" ><!--ng-submit="submitForm()

          <div class="row">
            <div class="col-sm-6 text-right">DOB</div>
            <div class="col-sm-6">
              <input name="dob" type="text" class="form-control" ng-model="userdata.DOB">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 text-right">Gender</div>
            <div class="col-sm-6">
              <select name="gender" id="gender" class="form-control" ng-model="userdata.gender">
                <option selected value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 text-right">Current Value of all pension pots</div>
            <div class="col-sm-6">
              <input name="pensionpots" type="number" class="form-control" ng-model="userdata.pensionpots" ng-change="submitForm()">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 text-right">Final Salary Pension</div>
            <div class="col-sm-6">
              <input name="finalsalarypension" type="number" class="form-control" ng-model="userdata.finalsalarypension" ng-change="submitForm()">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 text-right">Include State Pension</div>
            <div class="col-sm-6">
              <select name="incStatePension" id="gender" class="form-control" ng-model="userdata.incStatePension" ng-change="submitForm()">
                <option selected value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 text-right">Your current annual salary before tax</div>
            <div class="col-sm-6">
              <input name="currentAnnualSalary" type="number" class="form-control" ng-model="userdata.currentAnnualSalary" ng-change="submitForm()">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right">What percentage of your income do you pay into your retirement savings plan?</div>
            <div class="col-sm-6">
              <input name="perYouPayRetPlan" type="number" class="form-control" ng-model="userdata.perYouPayRetPlan" ng-change="submitForm()">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-right">What percentage of your income does your employer pay into your retirement savings plan?</div>
            <div class="col-sm-6">
              <input name="perEmpPayRetPlan" type="number" class="form-control" ng-model="userdata.perEmpPayRetPlan" ng-change="submitForm()">
            </div>
          </div>


          <div class="row">
            <div class="col-sm-6 text-right">Selected Retirement Age (SRA)</div>
            <div class="col-sm-6">
              <input name="selectedRetAge" type="number" class="form-control" ng-model="userdata.selectedRetAge" ng-change="submitForm()">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 text-right">What is your TARGET income (in retirement)?</div>
            <div class="col-sm-6">
              <input name="targetIncome" type="number" class="form-control" ng-model="userdata.targetIncome" ng-change="submitForm()">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 text-right">Growth rate</div>
            <div class="col-sm-6">
              <select name="growthRateText" id="gender" class="form-control" ng-model="userdata.growthRateText" ng-change="submitForm()">
                <option selected value="low">Low</option>
                <option value="mid">Mid</option>
                <option value="high">High</option>
              </select>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-6 text-right">TFC taken</div>
            <div class="col-sm-6">
              <input name="tfcTaken" type="number" class="form-control" ng-model="userdata.tfcTaken" ng-change="submitForm()">
            </div>
          </div>


          <div class="row">
            <div class="col-sm-6 text-right">Maintain income in real terms?</div>
            <div class="col-sm-6">
              <select name="growthRateText" id="gender" class="form-control" ng-model="userdata.realterms" ng-change="submitForm()">
                <option selected value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
          </div>



          <div class="col-xs-12 margin-top-30 text-right">

            <a class="btn btn-primary" href="/chart">Chart >></a>
          </div>


        </form>
          <span ng-click="fillform()" class="btn">Fill the form</span>
    </div>
  </div>row-->
  </div>
</div>
</section>

<style>
  .tooltip-container .tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip-container .tooltip i {
    font-size: 12px;
  }
  .tooltip-container .tooltip .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -250px;
    font-size: 12px;
    word-break: break-all;
  }
  
  .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
      visibility: visible;
  }
  </style>
  
