/*.uib-datepicker{
  .btn-default{
    border:1px solid #efefef !important;
    border-radius:0px;
  }
  .uib-left{
    content: 'Prev.'
  }
}*/

.dob{
  display:inline !important;
  width:120px;
  margin-right:8px !important;
}
